.DS_Store
Secrets.plist
newsApp/.DS_Store

Swift.gitignore

## User settings
xcuserdata/

*.hmap

*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace


.build/

Carthage/Build/

Dependencies/
.accio/


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

iOSInjectionProject/
