<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388439773719-2uf6birgc1qit2p61rojcic3b82olp9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388439773719-2uf6birgc1qit2p61rojcic3b82olp9n</string>
	<key>API_KEY</key>
	<string>AIzaSyBe4Qar-eFqYsQ0Tk3MJwSyX7VX_4Pz8-I</string>
	<key>GCM_SENDER_ID</key>
	<string>388439773719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geekASFUCK.newsApp</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios13project</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios13project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388439773719:ios:70a2b38d7895dfcab3c252</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-ios13project.firebaseio.com</string>
</dict>
</plist>